<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

    {% block page_content %}
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- Here is where your content get inserted -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    {% endblock %}

{% include 'scripts.html' %}
</body>

</html>
