{% extends "base.html" %}



{% block page_content %}


<div class="container">
    <div class="row">
        {% for plot in plots %}
        <div class="plot_widget col-lg-4 col-md-12 col-sm-12 mb-4">
            {% with template_name=plot.template %}
                {% include ""|add:template_name with content=plot.content title=plot.title sub_title=plot.sub_title unit=plot.unit color=plot.color%}
            {% endwith %}
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}